@import '../Styles/form.scss';

.receptionForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    h2 {
        margin-top: 30px;
        margin-bottom: 30px
    }

    .formContainer {
        display: flex;
        flex-direction: row;

        .imgContainer {
            height: 1000px;
            width: 300px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;

            img {
                height: 100%;
                width: 100%;
            }

            @media(max-width: 1350px) {
                display: none;
            }
        }

        .gridContainer {
            background-color: #F5F7FF;
            width: fit-content;
            display: flex;
            flex-direction: row;
            gap: 0px 60px;
            padding: 70px 40px 18px 40px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;

            .input {
                @extend %commonInput;
            }

            .buttonContainer {
                margin-top: 90px;
                width: 440px;
                height: auto;
                text-align: right;

                button {
                    @extend %commonFormBtn;
                }

                @media(max-width: 1050px) {
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
            }

            @media(max-width: 1050px) {
                flex-direction: column;
                border-radius: 50px;
            }
        }
    }
}

// @media(max-width: 1000px) {
//     .receptionForm {

//         .gridContainer {
//             .input {
//                 max-width: 80vw;
//             }
//         }
//     }

//     .inputCheckbox {
//         display: flex;
//         min-width: 520px;
//         gap: 4px;
//         margin-bottom: 40px;
//         position: relative;
//     }
// }

// @media(max-width: 600px) {
//     .receptionForm {
//         width: 100vw;
//         padding-left: 20px;
//         padding-right: 20px;

//         h2 {
//             margin-bottom: 40px;
//             font-size: 24px;
//         }

//         .gridContainer {
//             width: calc(100vw - 40px);
//             padding-left: 0;
//             padding-right: 0;

//             .input {
//                 display: flex;
//                 flex-direction: column;
//                 max-width: 500px;
//                 gap: 4px;
//                 margin-bottom: 50px;
//                 position: relative;

//                 @media(max-width: 600px) {
//                     min-width: calc(100vw - 40px);
//                     max-width: fit-content;
//                 }

//                 label {
//                     font-size: 15px;
//                     font-weight: 670;
//                     text-transform: uppercase;
//                 }

//                 .inputField,
//                 .textArea {
//                     font-size: 15px;
//                 }

//                 .inputField::placeholder,
//                 .textArea::placeholder {
//                     background: transparent;
//                     font-size: 15px;
//                 }


//                 .checkboxContainer {
//                     padding-top: 8px;
//                     padding-left: 0px;
//                     padding-right: 0px;

//                     .checkboxItem {

//                         .customCheckbox {
//                             width: 16px;
//                             height: 16px;
//                             transform: translateY(0px);
//                         }

//                         .checkboxLabel {
//                             font-size: 15px;
//                         }
//                     }
//                 }


//                 .errorMessage {
//                     font-size: 13px;
//                 }
//             }
//         }

//         button {
//             font-size: 18px;
//             margin-left: 0;
//         }
//     }
// }