%commonInput {
    font-family: "Public Sans", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 50px;
    position: relative;

    label {
        font-size: 16px;
        font-weight: 500;
        color: #121417;
        height: 28px;
    }

    .inputField {
        width: 440px;
        height: 56px;
        background-color: #FFFFFF;
        font-size: 16px;
        padding: 16px;
        border: none;
        border-radius: 12px;
        color: #6B7582;
        transition: all 0.3s ease-in-out;

        @media(max-width: 1050px) {
            width: 80vw;
        }
    }

    .textArea {
        width: 440px;
        height: 142px;
        background-color: #FFFFFF;
        font-size: 16px;
        padding: 16px;
        border: none;
        border-radius: 12px;
        color: #6B7582;
        transition: all 0.3s ease-in-out;

        @media(max-width: 1050px) {
            width: 80vw;
        }
    }

    .inputField::placeholder,
    .textArea::placeholder {
        background: #FFFFFF;
        color: #6B7582;
        opacity: 1;
        font-size: 16px;
        font-weight: 400;
    }

    .inputField:focus,
    .textArea:focus {
        outline: none;
    }


    .checkboxContainer {
        width: 440px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        font-size: 16px;
        gap: 0.6rem 1.2rem;

        .checked {
            color: #FFFFFF;
            background-color: #153679;
            border: 1px solid #153679;
        }

        .checkboxLabel {
            height: 36px;
            width: 71px;
            padding: 8px 11px;
            border: 1px solid #969696;
            border-radius: 21px;
            cursor: pointer;
            text-align: center;
            font-size: 14px;
        }

    }

    .errorMessage {
        color: #E53935;
        font-size: 14px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: -25px;
        // padding-left: 16px;
    }
}


%commonFormBtn {
    font-family: "Public Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    background-color: #153679;
    color: white;
    border-radius: 8px;
    padding: 12px 33px;
    border: none;
    cursor: pointer;

    @media(max-width: 1050px) {
        width: 80vw;
    }
}